{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="flex-col justify-center py-32 text-center space-y-5">
        <div class="text-left px-36 text-4xl text-[#005aa3]">
            Welcome to CloudRentalHistory, the premier provider of cloud-based rental history services.
            <br><br>
            At CloudRentalHistory, we understand the importance of maintaining a thorough and accurate rental history. That's why we've developed a state-of-the-art system for storing and managing rental history information in the cloud.
            <br><br>
            With our cloud-based system, you can access your rental history information from any device with an internet connection. This means you can easily share your rental history with potential landlords, property managers, and other interested parties, no matter where you are.
            <br><br>
            Our system is secure, reliable, and easy to use. Simply create an account, input your rental history information, and we'll take care of the rest. We'll even handle the updates and maintenance, so you can focus on finding your next rental.
            <br><br>
            Thank you for considering CloudRentalHistory for your rental history storage needs. We look forward to serving you.
        </div>
       
    </div>

{% endblock %}